<div class="span4">
  <p>Dealer: {{controllers.summary.dealer}}</p>
  <p>Vulnerable: {{controllers.summary.vulnerable}}</p>
  <p>Contract: {{controllers.summary.contract}}</p>
  <p>NS: {{controllers.summary.nsWonTricksNumber}}</p>
  <p>EW: {{controllers.summary.ewWonTricksNumber}}</p>
  <p>Result: {{controllers.summary.resultString}}</p>
</div>
