<table class="table table-striped table-bordered">
  <tr>
    <th>#</th>
    <th>N</th>
    <th>E</th>
    <th>S</th>
    <th>W</th>
  </tr>
  {{#each controller}}
    <tr>
      <td>{{#linkTo "table" .}}{{id}}{{/linkTo}}</td>
      <td>{{user_n.email}}</td>
      <td>{{user_e.email}}</td>
      <td>{{user_s.email}}</td>
      <td>{{user_w.email}}</td>
    </tr>
  {{/each}}
</table>

<button class="btn" {{action createTable}}>Create a new table</button>
