<div class="row">
  {{partial "table/info"}}
  {{partial "table/hand_e"}}
  {{partial "table/auction"}}
</div>

<div class="row">
  {{partial "table/hand_n"}}
  {{partial "table/trick_w"}}
  {{partial "table/hand_s"}}
</div>

<div class="row">
  <div class="span4">
  </div>

  {{partial "table/hand_w"}}

  <div class="span4">
    {{partial "table/bidding_box"}}
    {{partial "table/claim"}}
  </div>
</div>
